html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --background-color: #252525;
    --outline-color: #cccccc;
    --outline-border: -3px;
}

.square-box-outline {
    position: relative;
    width: 200px;
    height: 200px;
}

.square-box-outline > div:nth-child(-n+4) {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--outline-color);
}

.square-box-outline > div:nth-child(1) {
    top: var(--outline-border);
    left: var(--outline-border);
}

.square-box-outline > div:nth-child(2) {
    top: var(--outline-border);
    right: var(--outline-border);
}

.square-box-outline > div:nth-child(3) {
    bottom: var(--outline-border);
    right: var(--outline-border);
}

.square-box-outline > div:nth-child(4) {
    bottom: var(--outline-border);
    left: var(--outline-border);
}

.square-box {
    z-index: 2;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--background-color);
}