html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --background-color: #222;
    --torri-red: #e03131;
    --torri-black: #343a40;
}

h1 {
    font-size: 60px;
    color: var(--torri-red);
}

#torri-box {
    position: relative;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kasgi {
    width: 600px;
    height: 40px;
    background-color: var(--torri-black);
}

.shimagi {
    width: 540px;
    height: 30px;
    background-color: var(--torri-red);
}

.gakuzuka {
    width: 50px;
    height: 50px;
    background-color: var(--torri-red);
}

.nuki {
    width: 480px;
    height: 30px;
    background-color: var(--torri-red);
}

.hashira {
    position: relative;
    width: 50px;
    height: 240px;
}

.hashira::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 320px;
    left: -160px;
    bottom: 0px;
    background-color: var(--torri-red);
}

.hashira::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 320px;
    right: -160px;
    bottom: 0px;
    background-color: var(--torri-red);
}

.nemaki {
    position: relative;
    width: 50px;
    height: 80px;
}

.nemaki > * {
    position: absolute;
    width: 50px;
    height: 80px;
    background-color: var(--torri-black);
}

.nemaki > :first-child {
    left: -165px;
}

.nemaki > :first-child::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 20px;
    left: -5px;
    bottom: 0;
    background-color: var(--torri-black);
}

.nemaki > :first-child::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    left: -20px;
    bottom: -20px;
    background-color: var(--torri-black);
}

.nemaki > :last-child {
    right: -165px;
}

.nemaki > :last-child::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 20px;
    left: -5px;
    bottom: 0;
    background-color: var(--torri-black);
}

.nemaki > :last-child::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    left: -20px;
    bottom: -20px;
    background-color: var(--torri-black);
}

.gakuzuka > div {
    position: absolute;
    width: inherit;
    height: inherit;
}

.daiwa::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    left: -175px;
    background-color: var(--torri-red);
}

.daiwa::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    right: -175px;
    background-color: var(--torri-red);
}

.kusabi > :first-child {
    position: absolute;
    width: 40px;
    height: 50px;
    left: -160px;
}

.kusabi > :last-child {
    position: absolute;
    width: 40px;
    height: 50px;
    right: -160px;
}