html, body {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

#root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-text {
    font-size: 40px;
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid transparent;
    animation: typing-animation 2s steps(10) forwards,
                blink-animation 1s infinite;
}


@keyframes typing-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}