html, body {
    z-index: -1;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

h1 {
    position: fixed;
    top: 50px;
    font-size: 80px;
    font-family: monospace;
    color: #444;
}

.core {
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
}

.core:hover {
    background-color: rgb(63, 194, 218);
    cursor: pointer;
}

.core::after {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #999;
    opacity: 0.5;
    animation: after-rotate-animation 10s linear infinite;
}

.core::before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #999;
    opacity: 0.5;
    animation: before-rotate-animation 10s linear infinite;
}

@keyframes before-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes after-rotate-animation {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}